<nav class="navbar navbar-inverse">
  <div class="container-fluid">
   
    <div class="navbar-header">
      <a class="navbar-brand bran" routerLink="/home/{{users}}" >Instantgram</a>
      
    </div>
     </div>

     <div class="navbar navbar-inverse navbar-fixed-bottom">
      <ul class="nav navbar-nav">
        <li><a routerLink="/search">Search</a></li>
      </ul>
      
    </div>

</nav>



<!-- <div style="height: 100px">
	<span class="label label-primary">{{username}}</span>
</div> -->
<div class="panel panel-default">
 
  <div class="panel-body">
    <h4><b>{{username}}</b></h4>
  </div>
</div>
<!-- gallery pada user -->

<div class="card col-md-2 col-xs-4"  *ngFor="let gambar of gambars; let i = index">
 	<a routerLink="/detailposting/{{gambar.idposting}}" name="postingan" id="postingan" style="width: 100px; height: 100px;" class="thumbnail">                
	 	<img src="http://localhost/pmn_uas/images/{{gambar.idgambar}}.{{gambar.extention}}" id="displaypic"  name="displaypic" style="width: 100px; height: 100px; border: 1px solid black;" />
	</a>
</div>




              
               
            